[submodule "app/stella/stella"]
	path = app/stella/stella
	url = https://github.com/stella-emu/stella.git
[submodule "app/dropbear"]
	path = app/dropbear/dropbear
	url = https://github.com/mkj/dropbear.git
[submodule "app/sftpserver/sftpserver"]
	path = app/sftpserver/sftpserver
	url = https://github.com/ewxrjk/sftpserver.git
[submodule "lib/libump/libump"]
	path = lib/libump/libump
	url = https://github.com/linux-sunxi/libump.git
